ul.pagination li.page-link {
    background-color: #333 !important;
    border-color: #222 !important;
    cursor: pointer;
}

ul.pagination li.page-link.active {
    background-color: #222 !important;
    border-color: #222 !important;
}