.filter-expense {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter-expense {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 10px;
}